.train-container {
  position: relative;
  margin-bottom: 30px;
  text-align: center;
}

.line-with-circles {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.line {
  width: 80%;
  height: 5px;
  background-color: purple;
  position: relative;
  margin-top: 20px;
}

.circle-container {
  position: absolute;
  width: 80%;
  display: flex;
  justify-content: space-between;
  top: 50%;
  transform: translateY(5%);
}

.circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: white;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
}

.station-name {
  position: absolute;
  top: 25px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  width: max-content;
}

.train-icon {
  font-size: 20px;
  position: absolute;
  color: red;
  transition: left 0.5s ease-in-out;
}
